.nav{
    margin: 20px auto;
    text-align: center;
    padding: 20px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline;
    margin-right: 50px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 50px;
}

.nav ul li a:hover{
    color: green;
}
.nav ul li a:active{
    color: orange;
}
.nav ul li a:visited{
    color: red;
}
